In [1]:
import warnings
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from sklearn.model_selection import train_test_split

warnings.filterwarnings("ignore")

C:\Users\haydencordeiro\AppData\Local\Temp\ipykernel_17360\748826985.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_excel("./data/population_ghi_unemploment_yearwise_import export_africa_sheet.xlsx")

In [6]:
desired_columns = ['Year', 'Population', 'GHI']
total_value_by_year = df[desired_columns]
total_value_by_year = total_value_by_year.dropna()

In [9]:
total_value_by_year = total_value_by_year.iloc[::-1]

In [10]:
total_value_by_year

    Year  Population        GHI
62  2022  1378946751  25.401429
61  2021  1347125535  25.321429
60  2020  1315356983  25.261429
59  2019  1283595475  25.236349
58  2018  1252369090  25.211270
57  2017  1221635358  25.186190
56  2016  1191571529  25.161111
55  2015  1161665468  25.841667
54  2014  1131930821  26.522222
53  2013  1102849969  27.202778
52  2012  1074414693  27.201316
51  2011  1047206275  28.563889
50  2010  1020662522  29.244444
49  2009   994497584  29.925000
48  2008   969140625  30.605556
47  2007   944456816  31.629861
46  2006   920551975  32.565541
45  2005   897524532  33.678472
44  2004   875252295  34.702778
43  2003   853695941  35.727083
42  2002   832780462  36.751389
41  2001   812399582  37.775694
40  2000   792644225  37.759459
39  1999   773551881  39.220139
38  1998   755145947  39.640278
37  1997   737273955  40.060417
36  1996   719619012  40.480556
35  1995   702040264  40.900694
34  1994   685021172  41.320833
33  1993   668325852  41.740972
32  1992   651767061  42.161111

In [11]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing
# Fit exponential smoothing model
model = ExponentialSmoothing(total_value_by_year['GHI'], seasonal_periods=12, trend='add', seasonal='add')
model_fit = model.fit()

# Forecast 5 years into the future
forecast = model_fit.forecast(5)

print("Forecasted values for the next 5 years:")
print(forecast)

Forecasted values for the next 5 years:
31    42.912305
32    43.645847
33    44.361731
34    44.198731
35    45.438689
dtype: float64

In [40]:
def precasting(filepath, col_name, n_years):
    df = pd.read_excel(filepath)
    desired_columns = ['Year','Population' ,col_name]
    total_value_by_year = df[desired_columns]
    total_value_by_year = total_value_by_year.dropna()
    total_value_by_year = total_value_by_year[::-1]
    # print(total_value_by_year.head())
    model = ExponentialSmoothing(total_value_by_year['GHI'], seasonal_periods=12, trend='add', seasonal='add')
    model_fit = model.fit()

    # Forecast 5 years into the future
    forecast = model_fit.forecast(n_years)

    print("Forecasted values for the next 5 years:")
    print (forecast[::-1])

In [41]:
precasting("./data/population_ghi_unemploment_yearwise_import export_africa_sheet.xlsx",  'GHI', 31)

Forecasted values for the next 5 years:
62    58.600464
61    58.262490
60    57.919486
59    57.558272
58    56.318315
57    56.481314
56    55.765431
55    55.031889
54    54.280694
53    53.863290
52    53.404579
51    52.993218
50    52.540672
49    52.202698
48    51.859695
47    51.498481
46    50.258523
45    50.421522
44    49.705639
43    48.972097
42    48.220903
41    47.803499
40    47.344787
39    46.933427
38    46.480880
37    46.142907
36    45.799903
35    45.438689
34    44.198731
33    44.361731
32    43.645847
31    42.912305
dtype: float64

KeyError: 0